@import '../../styles/mixins/global.scss';

.scrollup-alignment {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--gray-color);
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;


    @include breakpoint("max-sm") {
        left: 20px;
        width: 40px;
        height: 40px;
    }

    img {
        max-width: 15px;

        @include breakpoint("max-sm") {
            max-width: 10px;
        }
    }
}