@import '../../../styles/mixins/global.scss';

.properties-page-all-content-alignment {
    padding: 110px 0 87px 0;

    @include breakpoint("max-md") {
        padding: 60px 0;
    }

    h1 {
        @include heading-1;
        color: var(--black-2);
        max-width: 220px;
        position: relative;


        @include breakpoint("max-md") {
            @include heading-md;

            &:before {
                position: absolute;
                width: 62px;
                height: 1px;
                content: "";
                bottom: -20px;
                left: 0;
                background-color: #7F7F7F;
            }
        }
    }
}