@import '../../../../styles/mixins/global.scss';

.expretise-section-all-content-alignment {
    padding-left: max(80px, calc((100vw - 1221px) / 2));

    @include breakpoint("max-md") {
        padding-left: 40px;
    }

    @include breakpoint("max-sm") {
        padding-left: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 691px;
        gap: 66px;

        @include breakpoint("max-md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

        align-items: center;

        .grid-items:nth-child(1) {
            @include breakpoint("max-sm") {
                order: 2;
                padding: 0 30px;
            }
        }

        .grid-items:nth-child(2) {
            @include breakpoint("max-sm") {
                order: 1;
            }
        }

        .grid-items {
            .image-style {
                img {
                    width: 100%;
                    height: 913px;

                    @include breakpoint("max-md") {
                        height: 613px;
                    }

                    @include breakpoint("max-sm") {
                        height: 496px;
                    }
                }

            }

            .all-text-style-alignment {
                .text-style:last-child {
                    padding: 0 0 40px 0;
                }

                .text-style {
                    padding: 0 0 80px 0;

                    @include breakpoint("max-md") {
                        padding: 0 0 40px 0;
                    }

                    div {
                        padding: 40px 0 0 0;

                        @include breakpoint("max-sm") {
                            padding: 30px 0 0 0;
                        }

                        p {
                            @include text-sm;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                            margin: 0;
                            font-weight: 500;
                            max-width: 376px;

                            @include breakpoint("max-md") {
                                @include mobile-10;
                            }

                            @include breakpoint("max-sm") {
                                @include mobile-11;
                                max-width: 261px;
                            }
                        }
                    }
                }
            }

            h2 {
                @include heading-1;
                color: var(--text-black);
                margin: 0;
                text-transform: uppercase;
                position: relative;

                @include breakpoint("max-md") {
                    @include heading-md;
                }

                &::before {
                    position: absolute;
                    bottom: -15px;
                    width: 34px;
                    height: 1px;
                    background-color: var(--text-black);
                    content: "";
                    left: 0;
                }
            }
        }
    }
}