@import "../../../styles/mixins/global.scss";

.energieausweis-banner {
  background-image: url("../../../assets/images/energieausweisbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 670px;
  background-position: center center;
  position: relative;

  @include breakpoint("max-sm") {
    height: 395px;
  }

  .energieausweis-left-alignment-image {
    position: absolute;
    left: 48px;
    bottom: 41px;

    @include breakpoint("max-sm") {
      left: 30px;
      bottom: 38px;
    }

    img {
      max-width: 188px;

      @include breakpoint("max-sm") {
        max-width: 92px;
      }
    }
  }
}

.energieausweis-sind-all-cotnent-alignment {
  padding: 127px 0 124px 0;

  @include breakpoint("max-sm") {
    padding: 61px 0 80px 0;
  }
  .heading-text {
    @include breakpoint("max-sm") {
      max-width: 303px;
    }
    h1 {
      @include heading-1;
      color: #2a2a2a;
      text-transform: capitalize;
      margin: 0;
      position: relative;

      @include breakpoint("max-md") {
        @include heading-md;
      }

      &::before {
        position: absolute;
        top: -20px;
        width: 104px;
        height: 1px;
        background-color: #2a2a2a;
        content: "";
        left: 0;
      }
    }

    .energieausweis-child-text-alignment {
      padding: 40px 0 0 0;

      @include breakpoint("max-md") {
        padding: 30px 0 0 0;
      }
      p {
        @include text-sm;
        color: var(--black-2);

        @include breakpoint("max-md") {
          @include mobile-10;
          max-width: 734px;
        }
      }
    }

    .energieausweis-button-alignment {
      @include flex-center;
      gap: 40px;
      padding: 40px 0 0 0;
      @include breakpoint("max-md") {
        padding: 30px 0 0 0;
        flex-wrap: wrap;
        gap: 20px;
      }
      button {
        border: 2px solid #474f5d;
        border-radius: 5px;
        padding: 15px 63px;
        @include mobile-14-bolder;
        color: #474f5d;
        cursor: pointer;

        @include breakpoint("max-md") {
          width: 100%;
          padding: 15px 0;
        }
        &:last-child {
          background: #7f7f7f;
          border: 2px solid #7f7f7f;
          color: #ffffff;
          padding: 15px 32px;
          @include breakpoint("max-md") {
            padding: 15px 0;
          }
        }
      }
    }
  }
}

.energieausweis-einen-section {
  background: #2a2a2a;
  .energieausweis-einen-alignment {
    padding: 89px 0 112px 0;

    @include breakpoint("max-md") {
      padding: 75px 0;
    }

    .energieausweis-einen-details-alignment {
      .enine-heading-text {
        h2 {
          @include heading-1;
          color: #ffffff;
          @include breakpoint("max-md") {
            @include heading-md;
          }
          @include breakpoint("max-sm") {
            @include heading-4-normal;
          }
        }
      }

      .enine-table-alignment {
        padding: 72px 0 0 0;

        @include breakpoint("max-sm") {
          display: none;
        }
        table {
          width: 100%;
          thead {
            border-bottom: 1px solid #d2d2d2;
            tr {
              th {
                padding: 0 0 32px 0;
                border-right: 1px solid #d2d2d2;
                &:last-child {
                  border-right: none;
                }

                &:nth-child(2) {
                  padding: 0 0 32px 23px;
                }
                &:nth-child(3) {
                  padding: 0 0 32px 35px;
                }
                &:nth-child(4) {
                  padding: 0 0 32px 29px;
                }
              }
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #d2d2d2;
              &:last-child {
                border-bottom: none;
              }
              td {
                border-right: 1px solid #d2d2d2;

                &:nth-child(2) {
                  padding: 32px 18px 32px 23px;
                }
                &:nth-child(3) {
                  padding: 32px 15px 32px 35px;
                }
                &:nth-child(4) {
                  padding: 0 9px 32px 29px;
                }
                &:nth-child(5) {
                  border-right: none;
                  padding: 0 0 32px 25px;
                }
                &.first-table-details-alignment {
                  @include flex-center;
                  gap: 46px;
                  padding: 32px 18px 32px 0;

                  .img-alignment {
                    img {
                      max-width: 68px;
                      height: 61px;
                    }
                  }
                }
                .first-details-alignment {
                  h6 {
                    @include text-medium;
                    line-height: 142.2%;
                    color: #979ca0;

                    @include breakpoint("max-md") {
                      @include text-12-medium;
                      line-height: 142.2%;
                    }
                  }
                  p {
                    padding: 7px 0 0 0;
                    @include text-12-medium;
                    line-height: 142.2%;
                    color: #979ca0;

                    @include breakpoint("max-md") {
                      @include mobile-8;
                      line-height: 142.2%;
                    }
                  }
                }

                p {
                  @include text-12-medium;
                  line-height: 142.2%;
                  color: #979ca0;
                  @include breakpoint("max-md") {
                    @include mobile-8;
                    line-height: 142.2%;
                  }
                }
              }
            }
          }
        }
      }

      .mobile-enine-table-alignment {
        display: none;
        @include breakpoint("max-sm") {
          display: block;
          padding: 19px 0 0 0;
        }

        table {
          width: 100%;
          thead {
            tr {
              border-bottom: 1px solid #d2d2d2;
              th {
                border-right: 1px solid #d2d2d2;
                &:nth-child(2) {
                  padding: 0 0 10px 34px;
                }
                &:nth-child(3) {
                  padding: 0 0 10px 13px;
                }
                &:last-child {
                  border-right: none;
                }
                .img-alignment {
                  img {
                    width: 33px !important;
                    height: 30px;
                    display: block;
                  }
                }
              }
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #d2d2d2;
              &:last-child {
                border-bottom: none;
              }
              &:nth-child(2) {
                td {
                  padding: 21px 14px 6px 14px;
                }
              }

              &:nth-child(3) {
                td {
                  padding: 25px 10px 20px 14px;
                }
              }

              &:nth-child(4) {
                border-bottom: none;
                td {
                  padding: 23px 6px 10px 14px;
                  .first-details-alignment {
                    max-width: 100%;
                  }
                }
              }
              &:nth-child(5) {
                border-bottom: none;
                td {
                  padding: 23px 6px 10px 14px;
                  .first-details-alignment {
                    max-width: 100%;
                  }
                }
              }

              td {
                padding: 33px 6px 20px 14px;
                border-right: 1px solid #d2d2d2;

                &:first-child {
                  padding: 0 30px 0 0;
                }
                p {
                  @include mobile-8;
                  line-height: 142.2%;
                  color: #979ca0;
                }
                &:last-child {
                  border-right: none;
                }

                .first-details-alignment {
                  max-width: 106px;
                  h6 {
                    @include text-12-medium;
                    line-height: 142.2%;
                    color: #979ca0;
                  }
                  p {
                    padding: 7px 0 0 0;
                    @include mobile-8;
                    line-height: 142.2%;
                    color: #979ca0;
                  }
                }
              }
            }
          }
        }

        table thead tr th:nth-child(1) {
          width: 20%;
        }
        table thead tr th:nth-child(2) {
          width: 40%;
        }
        table thead tr th:nth-child(3) {
          width: 40%;
        }
      }
    }
  }
}

.warum-sollte-section {
  padding: 124px 0 0 0;

  @include breakpoint("max-sm") {
    padding: 80px 0 0 0;
  }

  .warum-sollte-details-alignment {
    h4 {
      @include heading-1;
      color: #2a2a2a;
      padding: 20px 0 0 0;
      @include breakpoint("max-md") {
        @include heading-md;
      }
      @include breakpoint("max-sm") {
        @include heading-4-normal;
        line-height: 120.4%;
      }
    }
    p {
      padding: 20px 0 0 0;
      @include heading-4-normal;
      color: #000000;

      @include breakpoint("max-sm") {
        @include text-sm;
        line-height: 16px;
      }
    }

    .warum-sollte-list-alignment {
      padding: 20px 0 0 0;

      ul {
        list-style-type: decimal;
        list-style-position: inside;
        li {
          @include heading-4-normal;
          line-height: 30px;
          color: #2a2a2a;

          @include breakpoint("max-sm") {
            @include text-sm;
            line-height: 30px;
          }
        }
      }
    }
  }

  .bedarfsausweis-section {
    padding: 37px 5px 0 5px;
    @include breakpoint("max-md") {
      padding: 50px 0 0 0;
    }
    .bedarfsausweis-heading-text {
      h4 {
        @include heading-36;
        color: #2a2a2a;

        @include breakpoint("max-md") {
          @include text-16-normal;

          line-height: 144.4%;
        }
      }

      .bedarfsausweis-chart-alignment {
        padding: 40px 0 0 0;
        @include breakpoint("max-sm") {
          display: none;
        }
        table {
          max-width: 916px;
          width: 916px;

          @include breakpoint("max-md") {
            max-width: 100%;
            width: 100%;
          }
          thead {
            tr {
              border-bottom: 1px solid #7f7f7f;

              th {
                @include heading-4-normal;
                color: #000000;
                padding: 0 0 23px 0;
                @include breakpoint("max-md") {
                  @include mobile-10-normal;
                }
              }
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #7f7f7f;
              @include breakpoint("max-md") {
                border-bottom: none;
              }
              &:last-child {
                border-bottom: none;
              }
              td {
                padding: 23px 0;
                @include heading-4-normal;
                color: #000000;
                @include breakpoint("max-md") {
                  @include mobile-10-normal;
                }
              }
            }
          }
        }
      }
    }
  }

  .mobile-bedarfsausweis-chart-alignment {
    display: none;
    @include breakpoint("max-sm") {
      display: block;
      padding: 20px 13px 0 13px;
      table {
        width: 100%;

        thead {
          tr {
            th {
              @include mobile-10-normal;
              color: #000000;
              padding: 0 13px 24px 13px;
              border-right: 1px solid #7f7f7f;
              &:first-child {
                padding: 0 13px 24px 0;
              }
              &:last-child {
                padding: 0 0 24px 13px;
                border-right: none;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              @include mobile-10-normal;
              color: #000000;
              padding: 0 13px 22px 13px;
              border-right: 1px solid #7f7f7f;
              &:first-child {
                padding: 0 13px 24px 0;
              }
              &:last-child {
                padding: 0 0 24px 13px;
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
}

.verbrauchsausweis-bedarfsausweis-section {
  padding: 80px 0 148px 0;
  @include breakpoint("max-sm") {
    padding: 80px 0 73px 0;
  }
  .verbrauchsausweis-grid-alignment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    @include breakpoint("max-sm") {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    .verbrauchsausweis-gridItem-box-alignment {
      background: #fdfdfd;
      border: 1px solid #7f7f7f;
      padding: 54px 58px;

      @include breakpoint("max-md") {
        padding: 30px;
      }

      .main-section-alignment {
        h4 {
          padding: 20px 0 0 0;
          @include heading-md;
          line-height: 40px;
          color: #000000;

          @include breakpoint("max-md") {
            @include heading-4-normal;
            line-height: 40px;
          }
        }
      }

      .child-details-alignment {
        padding: 30px 0 0 0;
        @include breakpoint("max-md") {
          padding: 20px 0 0 0;
        }
        h6 {
          @include text-16-normal;
          position: relative;
          color: #000000;
          &::before {
            position: absolute;
            bottom: -2px;
            width: 104px;
            height: 1px;
            background-color: #2a2a2a;
            content: "";
            left: 0;
            @include breakpoint("max-md") {
              bottom: -8px;
            }
          }
        }

        p {
          padding: 10px 0 0 0;
          @include heading-4-normal;
          color: #000000;
          line-height: 30px;

          @include breakpoint("max-md") {
            padding: 18px 0 0 0;
            @include mobile-12;
            line-height: 20px;
          }
        }
      }

      .options-button-alignment {
        padding: 30px 0 0 0;
        max-width: 291px;
        width: 291px;
        @include breakpoint("max-md") {
          max-width: 250px;
          padding: 20px 0 0 0;
        }
        .pdf-button-alignment {
          button {
            border: 2px solid #474f5d;
            border-radius: 5px;
            width: 100%;
            padding: 15px 63px;
            @include mobile-14-bolder;
            white-space: nowrap;
            cursor: pointer;
            color: #474f5d;
            @include breakpoint("max-md") {
              height: 44px;
              padding: 0;
              @include mobile-12-bolder;
            }
          }
        }

        .other-button-alignment {
          padding: 12px 0 0 0;
          max-width: 291px;
          width: 291px;
          @include breakpoint("max-md") {
            max-width: 250px;
          }
          button {
            background: #7f7f7f;
            border: 2px solid #7f7f7f;
            border-radius: 5px;
            width: 100%;
            padding: 15px 0;
            @include mobile-14-bolder;
            white-space: nowrap;
            text-align: center;
            cursor: pointer;
            color: #ffffff;
            @include breakpoint("max-md") {
              @include mobile-12-bolder;
              height: 44px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.qA-section {
  padding: 80px 5px 133px 5px;

  .qA-heading-text {
    h4 {
      @include heading-1;
      color: #2a2a2a;
    }
  }

  .qA-details-alignment {
    .qA-question-part-alignment {
      position: relative;
      margin: 30px 0 0 0;
      padding: 0 0 19px 0;
      &.active {
        &::before {
          width: 723px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 104px;
        height: 1px;
        background: #000000;
        bottom: 0;
        left: 0;
      }
      .main-name-alignment {
        @include flex-center;
        justify-content: space-between;
        p {
          @include heading-4-normal;
          color: #000000;
        }
      }
      .qA-child-text-alignment {
        padding: 19px 0 0 0;
        p {
          @include heading-4-normal;
          color: #000000;
        }
        //   border-bottom: 1px solid #000000;
      }
    }
  }
}
