@import '../../../../styles/mixins/global.scss';

.hero-section {

    position: relative;



    .large-image-style {
        img {
            width: 100%;
            height: calc(100vh - 83px);
            object-fit: cover;
            object-position: center;

            @include breakpoint("max-sm") {
                height: 220px;
            }
        }
    }


    @keyframes moveInleft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
    
        80% {
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
  

   

    @include breakpoint("max-md") {
        height: 555px;
    }

    @include breakpoint("max-sm") {
        height: 216px;
    }


}

.button-style-slider {
    width: 50px;
    height: 50px;
    background-color: var(--gray-color);
    border-radius: 50%;
    @include flex-center;
    justify-content: center;
    @include pointer;

    svg {
        width: 18px;
    }
}

.next-button-align-slider {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 99999;

    svg {
        transform: rotate(180deg);
    }
}

.prev-button-align-slider {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;


}

.hero-section-slider-section-alignment {
    overflow-x: hidden;
    position: relative;
}

.hero-section-top-content-alignment-here {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;

    .gif-center-alignment {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 24px 0;

        @include breakpoint("max-sm") {
            padding: 0 0 14px 0;
        }
        img {
            max-width: 100px;

            @include breakpoint("max-sm") {
                max-width: 60px;
            }
        }
    }

    .top-content-alignment {
        padding: 8px 62px 62px 62px;

        @include breakpoint("max-sm") {
            padding: 18px 20px 20px 20px;
        }
    
        .hero-content-button-alignment {
            button {
                width: fit-content;
                padding: 9px 16px;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif;
                background-color: rgb(71 ,79 ,93 , .7);
                color: #FFFFFF;

                @include breakpoint("max-sm") {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

.relative-main-div {
    position: relative;
}

.tow-new-s-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 88px;

    @include breakpoint("max-sm") {
        bottom: 20px;
    }
}


.bottom-banner-image-dummy-align {
    padding-right: 88px;
    @include breakpoint("max-sm") {
        padding-right: 20px;
    }

    .image-wrapper-alignment {
        width: 100%;
        // background: rgba(255, 255, 255, 0.77);
        height: 89px;
        position: relative;

        @include breakpoint("max-md") {
            height: 52px;
        }

        @include breakpoint("max-sm") {
        }

        .logo-center-alignment {

            img {
                max-width: 189px;
                height: 130px;

                @include breakpoint("max-md") {
                    max-width: 166px;
                }

                @include breakpoint("max-sm") {
                    max-width: 45px;
                    height: 52px;
                }
            }
        }
    }
}

.bottom-banner-image-dummy-align-one{
    position: relative;
    top: 30px;

    @include breakpoint("max-sm") {
        top: 0;
    }
    .hero-light-box {
        background: rgba(71, 79, 93, 0.6);
        width: 142px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include breakpoint("max-sm") {
            padding: 10px;
            width: fit-content;
            justify-content: center;
        }

        img {
            animation: moveInleft 3s linear infinite;
            @include breakpoint("max-sm") {
                max-width: 20px;
            }
        }
    }
}