@import "../../../../styles/mixins/global.scss";

.hero-section {
  overflow: hidden;

  position: relative;

  .large-image-style {
    @include breakpoint("max-sm") {
      height: 677px;
    }

    img {
      overflow: hidden;
      width: 100%;
      height: calc(100vh - 50px);
      object-fit: cover;
      object-position: center;
      opacity: 1;
      @include breakpoint("max-md") {
        height: 632px;
      }

      @include breakpoint("max-sm") {
        height: 677px;
      }
    }
  }
  .centered-text {
    display: flex;
    flex-direction: column;
    grid-gap: 25%;
    gap: 25%;
    position: absolute;
    top: 2%;
    left: 42%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 400;
    z-index: 1000;
    color: #535252;
    font-family: "Raleway", sans-serif;
    text-align: start;
    max-width: 45%;
    height: 10%;
    margin-top: 5%;
    @include breakpoint("max-md") {
      font-size: 24px;
      max-width: 55%;
      top: 8%;
      right: 9%;
    }
    // To ensure the text doesn't overflow the screen width
    @include breakpoint("max-sm") {
      margin-top: 127px;
      position: absolute;

      max-width: 80%;
      color: #fff;
      font-size: 28px;
      line-height: 32.5px;
    }

    .info-text {
      font-family: "Raleway", sans-serif; // Use Raleway font, fall back to sans-serif if not available
      font-weight: normal; // Set font weight to bold
      font-size: 16px; // Set font size to 16px
      margin-top: 20px;
      color: #2d2c2c;
      background-color: hsla(0, 0%, 96.5%, 0.5);
      border: 0.8px solid #535252;
      width: 72%;
      padding-left: 10px;
      @include breakpoint("max-md") {
        background-color: hsla(0, 0%, 96.5%, 0.5);
        border: 0.8px solid #535252;
        font-size: 10px;
        width: 93%;
        padding-left: 4px;
      }
      @include breakpoint("max-sm") {
        background-color: initial;
        border: none;
        display: flex;
        width: 123%;
        font-size: 12px;
        line-height: 15.5px;
        color: #fff;
      } // Optional: Add a little spacing on top to separate from the vector image
    }

    .picture-style {
      width: auto;
      height: 42px;
      background-color: rgba(246, 246, 246, 0.5);

      @include breakpoint("max-md") {
        width: 152px;
        height: 27px;
      }
      @include breakpoint("max-sm") {
        display: none;
      }
    }
    .frame1-image-style {
      width: auto;
      height: 42px;
      background-color: rgba(246, 246, 246, 0.5);

      @include breakpoint("max-md") {
        width: 141px;
        height: 27px;
      }
      @include breakpoint("max-sm") {
        display: none;
      }
    }
    .newpic-style {
      width: auto;
      height: 42px;
      background-color: rgba(246, 246, 246, 0.5);

      @include breakpoint("max-md") {
        width: 225px;
        height: 27px;
      }
      @include breakpoint("max-sm") {
        display: none;
      }
    }

    .vector-mobile {
      display: none;
      @include breakpoint("max-sm") {
        display: flex;

        width: 6%; // Adjust this value as desired
        height: auto; // This will maintain the image aspect ratio
      }
    }

    @keyframes moveInleft {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }

      80% {
        transform: translateX(10px);
      }
      100% {
        opacity: 1;
        transform: translate(0);
      }
    }

    @include breakpoint("max-md") {
      width: 93%;
      padding-left: 4px;
    }
    @include breakpoint("max-sm") {
      background-color: transparent;
      border: none;
      display: flex;
      width: 123%;
      font-size: 28px;
      line-height: 33.5px;
    } // Optional: Add a little spacing on top to separate from the vector image
  }

  .picture-style {
    width: 250px;
    background-color: rgba(246, 246, 246, 0.5);

    @include breakpoint("max-md") {
      width: 152px;
      height: 27px;
    }
    @include breakpoint("max-sm") {
      display: none;
    }
  }
  .frame1-image-style {
    width: 240px;
    background-color: rgba(246, 246, 246, 0.5);

    @include breakpoint("max-md") {
      width: 141px;
      height: 27px;
    }
    @include breakpoint("max-sm") {
      display: none;
    }
  }
  .newpic-style {
    width: 325px;
    height: 39px;
    background-color: rgba(246, 246, 246, 0.5);

    @include breakpoint("max-md") {
      width: 225px;
      height: 27px;
    }
    @include breakpoint("max-sm") {
      display: none;
    }
  }

  .vector-mobile {
    display: none;
    @include breakpoint("max-sm") {
      display: flex;

      width: 12%; // Adjust this value as desired
      height: auto; // This will maintain the image aspect ratio
    }
  }

  @keyframes moveInleft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @include breakpoint("max-md") {
    height: 555px;
  }

  @include breakpoint("max-sm") {
    height: 677px;
  }
}

.button-style-slider {
  width: 50px;
  height: 50px;
  background-color: var(--gray-color);
  border-radius: 50%;
  @include flex-center;
  justify-content: center;
  @include pointer;

  svg {
    width: 18px;
  }
}

.debug-image {
  animation: none !important;
  @include breakpoint("max-sm") {
    display: none;
  }
}
.bedroom-mobile-image {
  display: none;
  @include breakpoint("max-sm") {
    display: block;
    height: 677px;
  }
}
.next-button-align-slider {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 99999;

  svg {
    transform: rotate(180deg);
  }
}
.vector1-image-style {
  width: 6%; // Adjust this value as desired
  height: auto;
  @include breakpoint("max-sm") {
    display: none;
  } // This will maintain the image aspect ratio
}
.frame278-image-text-wrapper {
  position: relative;
  width: 100%; // adjust this based on your requirements
  height: 100%; // adjust this based on your requirements
}

.frame278-image-style {
  width: 192px;
  height: 85px;
  display: block;
  @include breakpoint("max-sm") {
    top: -67px;
    width: 182px;
    position: relative;
  }
}

.frame278-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white; // choose a color that contrasts with the image
  text-align: center;
  font-size: 10px;
  @include breakpoint("max-sm") {
    display: block;
    position: relative;
    top: -121px;
  } // adjust this based on your requirements
}
// .frame278-container {
//     position: relative;
//     width: 100%; // Adjust this based on your design
//     height: auto;
// }

.frame278-text-content {
  position: absolute;
  top: 75%;
  left: 1%;
  // transform: translate(-50%, -50%);
  color: white; // Set the text color to white for visibility (change if needed)
  text-align: start;
  font-size: 12px;
  @include breakpoint("max-md") {
    top: 67%;
  }
  @include breakpoint("max-sm") {
    display: block;
    position: absolute;
    top: 32%;
  }
  span {
    font-weight: 900; // Makes the text bold
    color: rgba(255, 255, 255, 0.9); // Makes the text appear whiter
  }
}

.prev-button-align-slider {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
}

.hero-section-slider-section-alignment {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 677px;
  @include breakpoint("max-md") {
    height: 550px;
  }
  @include breakpoint("max-sm") {
    height: 677px;
  }
}

.hero-section-top-content-alignment-here {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;

  .gif-center-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0 24px 0;

    @include breakpoint("max-sm") {
      padding: 0 0 14px 0;
    }
    .mobile {
      display: none;
      @include breakpoint("max-md") {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 16%;

        right: 27%;
      }
      @include breakpoint("max-sm") {
        display: flex;
        justify-content: flex-end;
      }
    }
    img {
      max-width: 100px;

      @include breakpoint("max-md") {
        display: none;
      }
      @include breakpoint("max-sm") {
        display: none;
      }
    }
  }

  .top-content-alignment {
    padding: 8px 62px 62px 62px;

    @include breakpoint("max-sm") {
      padding: 18px 20px 20px 20px;
    }

    .hero-content-button-alignment {
      button {
        width: fit-content;
        padding: 9px 16px;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        background-color: #7f7f7f;
        color: #ffffff;

        @include breakpoint("max-sm") {
          font-size: 14px;
          line-height: 20px;
          display: none;
        }

        @include breakpoint("max-md") {
          font-size: 14px;
          line-height: 20px;
          display: none;
        }
      }
    }
  }
}

.relative-main-div {
  position: relative;
}

.tow-new-s-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  position: absolute;
  width: 100%;
  bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
  bottom: 34px;
  z-index: 9999;

  @include breakpoint("max-sm") {
    bottom: 20px;
  }
}

.bottom-banner-image-dummy-align {
  padding-right: 88px;
  @include breakpoint("max-sm") {
    padding-right: 20px;
  }

  .image-wrapper-alignment {
    width: 100%;
    // background: rgba(255, 255, 255, 0.77);
    height: 89px;
    position: relative;

    @include breakpoint("max-md") {
      height: 52px;
    }

    @include breakpoint("max-sm") {
    }

    .logo-center-alignment {
      img {
        max-width: 113px;
        height: 260px;

        @include breakpoint("max-md") {
          width: 72px;
          height: 150px;
        }

        @include breakpoint("max-sm") {
          max-width: 72px;
          height: 57px;
          top: -13px;
          position: relative;
        }
      }
    }
  }
}

.bottom-banner-image-dummy-align-one {
  position: relative;
  top: 30px;

  @include breakpoint("max-sm") {
    top: -17px;
  }

  .hero-light-box {
    background: #7f7f7f;
    width: 142px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
    @include breakpoint("max-md") {
      width: 123px;
      height: 58px;
      margin-bottom: 27px;
    }
    @include breakpoint("max-sm") {
      width: 123px;
      height: 58px;
      margin-bottom: 43px;
    }
    .euro {
      @include breakpoint("max-md") {
        width: 27px;
        height: 30px;
      }
    }
    .phonebreak {
      display: none;
    }
    @include breakpoint("max-md") {
      .phonebreak {
        display: none;
      }
    }

    @include breakpoint("max-sm") {
      .phonebreak {
        display: block;
      }
    }

    .phonebreaks {
      display: none;
    }
    @include breakpoint("max-md") {
      .phonebreak {
        display: block;
      }
    }

    @include breakpoint("max-sm") {
      .phonebreak {
        display: none;
      }
    }

    img {
      // animation: moveInleft 3s linear infinite;
      @include breakpoint("max-sm") {
        max-width: 39px;
      }
    }
  }
}
