@import "../../../styles/mixins/global.scss";

.kontak-all-section-content-alignment {
  .map-image {
    img {
      width: 100%;
      height: 415px;
      object-fit: cover;

      @include breakpoint("max-md") {
        height: 241px;
      }
    }
  }

  .all-content-style {
    padding: 100px 0;

    @include breakpoint("max-md") {
      padding: 60px 0;
    }

    @include breakpoint("max-sm") {
      padding: 40px 0;
    }

    h1 {
      @include heading-1;
      color: var(--black-2);
      text-transform: uppercase;
      position: relative;

      @include breakpoint("max-md") {
        @include heading-md;
      }

      @include breakpoint("max-sm") {
        text-transform: uppercase;
      }

      &::before {
        position: absolute;
        bottom: -15px;
        width: 34px;
        height: 1px;
        background-color: var(--black-2);
        content: "";
        left: 0;
      }
    }

    .child-text-style {
      padding: 40px 0 0 0;

      @include breakpoint("max-md") {
        padding: 30px 0 0 0;
      }

      p {
        @include text-sm;
        color: var(--black-2);

        @include breakpoint("max-md") {
          @include mobile-10;
        }
      }
    }
  }
}

.contact-banner-new-phase {
  background-image: url("../../../assets/images/money-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 75px 0;
  background-position: center center;

  @include breakpoint("max-sm") {
    background-image: url("../../../assets/images/mobile-money.png");
    padding: 350px 0 82px 35px;
    background-position: inherit;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1000px;
    gap: 0;

    @include breakpoint("max-sm") {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
    .grid-items:nth-child(1) {
      @include breakpoint("max-sm") {
        display: none;
      }
    }
    .grid-items {
      p {
        margin: 40px 0 0 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;

        @include breakpoint("max-sm") {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          margin: 20px 0;
        }
      }
      ul{
        list-style: initial;
        
        li{
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: #ffffff;
          @include breakpoint("max-sm") {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }

      span {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #ffffff;

        @include breakpoint("max-sm") {
          font-weight: 400;
          font-size: 11px;
          line-height: 20px;
        }
      }
      h6{  font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        @include breakpoint("max-sm") {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
        }

      }
      h4 {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        position: relative;
        color: #ffffff;

        @include breakpoint("max-sm") {
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
        }

        &::before {
          position: absolute;
          background-color: #fff;
          width: 104px;
          height: 1px;
          content: "";
          bottom: -20px;
          left: 0;

          @include breakpoint("max-sm") {
            bottom: -9px;
          }
        }
      }
    }
  }
}
